@media only screen and (max-width: 600px) {
  
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  
}


body html {
  background-color: #0056b3;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:white;
}


.menu-container {
 position: relative;
  display: inline-block;
}
.dropdown-btn {
  background-color: #0e0e6a; 
  color: white; 
  padding: 40px 40px; 
  border: none; 
  cursor: pointer;
  font-size: 20px;
}

.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #053292; 
  min-width: 160px; 
}

.dropdown-content a {
  color: whitesmoke; 
  padding: 12px 16px; 
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #40c2e6; 
}

.show {
  display: block;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color:#0e0e6a;
}


.bienvenidos{
    text-align: center;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 33px;
    color:rgb(57, 57, 237);
    margin: 0;
    display: inline-block;
    font-weight: 200;
    padding: 20px;
}

 .Imagen1{
  vertical-align: middle;
  display: inline-block;
  height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
 }

.valores{
  text-align: center;
  font-family:Arial, sans-serif; 
  font-size: 18px;
  color:#0000FF;
  margin-top:50px;
}

input[type="text"],
textarea {
  width: 100%;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 40px;
}

#buscar form input[type="text"],
#registro form input[type="text"],
#registro form input[type="email"],
#regiatro form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
#buscar form button,
#registro form button {
  padding: 10px 20px;
  background-color:#007bff;
  color: #fff;
  border: none;
}

#buscar form button:hover,
#registro form button:hover {
  background-color:#007bff;
}

.resultados {
  margin-top: 20px;
}
 

 


.star-rating {
  direction:ltr; 
  font-size: 0;
}



.star-rating label {
  display: inline-block;
  font-size: 36px; 
  color: #ccc; 
  cursor: pointer;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
  color: gold; 
}

.contenedor {

  width: 300%;
  height: 200px;
  max-width: 600px;
  margin-top: 150px;
  margin:auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

/*Página 3 Contacto*/
.formulario-quejas {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario-quejas label {
  display: block;
  margin-bottom: 5px;
}

.formulario-quejas input,
.formulario-quejas textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.formulario-quejas button {
  padding: 10px 20px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*Footer*/

footer {
  background-color:#007bff;
  color: #fff;
  padding: 20px;
  text-align:center;
}